.container {
  position: relative;
  width: 700px;
  height: 500px;
  margin: auto;
  top: 100px;
  background-color: #25ced1;
  border: 1px solid black;
  color: #ffffff;
}
.categoryBar {
  position: relative;
  top: 10%;
  width: 19.9%;
  height: 90%;
  background-color: #25ced1;
  border-right: 1px solid black;
}
.categoryBar > * {
  border-bottom: 1px solid black;
  height: 60px;
  transition: all 0.2s ease;
  padding: 5px;
  display: flex;
  align-items: center;
}
.categoryBar > *:hover {
  background-color: #23bbbd;
}
.navbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 99.7%;
  height: 10%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #25ced1;
  font-size: larger;
  z-index: 4;
}
.componentContainer {
  position: absolute;
  top: 10%;
  right: 0;
  width: 80%;
  height: 90%;
  background-color: #fceade;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .container {
    top: 50px;
    width: 90%;
    height: 400px;
  }
}
