html {
  background: linear-gradient(
    to bottom,
    rgb(113, 186, 210) 0%,
    #a1c6e7 50%,
    white 100%
  );
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}
/* 
@media (max-width: 768px) {
  .html {
    display: fixed;
    width: 100%;
  }
} */
